main {
    background-color: var(--gray-200);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
}

main h2 {
    margin-top: 20px;
}

#header { 
    margin-top: 72px;
    text-align: center;
}

 #portifolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin: 0 auto;
    margin-top: -80px;
    padding: 120px;
}

.card {
    background-color: var(--gray-300);
    max-width: 350px;
    height: 283px;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 306px;
    border-radius: 8px;
}

.texto {
    margin-top: 20px;
}

.titulo {
    font-family: var(--font-asap);
    font: var(--title-sm-asap);
    color: var(--gray-600);
}

.descricao {
    font-family: var(--font-maven);
    font: var(--text-sm-maven);
    color: var(--gray-500);
    margin-top: 8px;
}

#portifolio a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}